<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div>

    <head>

        <script type="text/javascript" th:src="@{/js/index_j.js}"></script>
        <link rel="stylesheet" th:href="@{/css/index_c.css}" />

        <style>
            body {background-color: powderblue;}
        </style>
        <title>Afet Sonrası Diyaliz Merkezi Yönetim Sistemi</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .box {

                height:1500px;
            }

        </style>
        <style>
            .tab {border-collapse:collapse;}
            .tab .first {border-bottom:1px solid #EEE;}
            .tab .second {border-top:1px solid #CCC;box-shadow: inset 0 1px 0 #CCC;}​
        </style>

    </head>
    <body>
    <div class="box effect1">
        <h3>Afet Sonrası Diyaliz Merkezi Yönetim Sistemi </h3>
        <img src="../images/dialysis.jpg" alt="Flowers in Chania" width=100%;>
        <img src="../images/Parameters.png" alt="Flowers in Chania" width=100%;>
        <br>
        <p>Model çözülürken kullanacak parametreleri değiştirebilirsiniz. </p>
        <br>
        <form method="post" action="/solution">
            <input type='hidden' th:value="${status.getText_S()}" name='status'>
            <input type='hidden' th:value="${centers.getText()}" name='centers'>

            <table class="tab">
                <tr>
                 <td>  Gün sayısı        </td>

                  <td> <input type="string"  name="number_of_days" value="14"> </td>
                </tr>
                <tr>
                    <td>İzin verilen maximum yolculuk süresi    </td>
                    <td>   <input type="string"  name="max_distance" value="100"></td>
                </tr>
                <tr>
                    <td>Maximum kısa servis sayısı     </td>
                    <td><input type="string"  name="max_short_service" value="3"></td>
                </tr>
            </table>
        <p> Problemin çözümü uzun zaman alabilir !</p>
        <input type="submit" value="Problemi Çöz" >
        </form>



    </div>


    </body>
</div>
</html>
